:root{
  --main-bg:#e91e63;
  --main-bg2:#6991c7;
  
}

.main-bg {
  background: var(--main-bg2) !important;
}

input:focus, button:focus {
  border: 1px solid var(--main-bg2) !important;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: var(--main-bg2) !important;
  border-color: var(--main-bg2) !important;
}

.card, .btn, input{
  border-radius:0 !important;
}